<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container mt-5 mb - 5">
  <h1>Добавление объявлений</h1>
  <form action="/add-post" method="post">
    <input type="text" name="title" placeholder="Введите Ваше имя" class="form-control"><br>
    <input type="text" name="anons" placeholder="Введите ваше объявление" class="form-control"><br>
    <textarea type="text" name="full_text" placeholder="Введите полное описание объвления" class="form-control"></textarea><br>
    <button type="submit" class="btn btn-success">Добавить объявление</button>
  </form>
</div>
</body>
</html>